extends layout

block head
  title Chcem vedieť
  link(rel="stylesheet", href="/styles/selectize.bootstrap2.css")
  link(rel="stylesheet", href="/styles/index.css")
  script(src="/js/lib/selectize.min.js")
  script(src="/js/index.js")

block content
  .alert= __("Welcome Message")

  if !user
    a.btn(href='login')= __("Login")
    br
    a.btn(class='btn', href='register')= __("Register")
    a(href='why-register')= "(" + __("Why register") + ")"
  else
    p= "Welcome, " + user.displayName()
    select#obligees(placeholder=__("Select obligee"))