extends layout

block head
  title Chcem vedieť

block content
  .alert= __("Welcome Message")

  if !user
    a.btn(href='login')= __("Login")
    br
    a.btn(class='btn', href='register')= __("Register")
    a(href='why-register')= "(" + __("Why register") + ")"
  else
    p= "Welcome, " + user.username