doctype 5
html(lang=getLocale())
  head
    script(src="https://code.jquery.com/jquery-1.9.1.min.js")
    script(src="/js/lib/bootstrap.min.js")
    script(src="/js/layout.js")
    link(rel="stylesheet", href="/styles/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/layout.css")
    block head
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.brand(href="/") Chcem vedieť

          ul.nav.pull-right
            li.dropdown
              a.dropdown-toggle(href="#", role="button", data-toggle="dropdown")
                img(src=language.icon)
              ul.dropdown-menu(role="menu")
                for lang in languages
                  li
                    a(href="#", data-lang=lang.code)
                      img.lang(src=lang.icon)
                      span= lang.name
            li
              p#username.navbar-text= (user && user.displayName()) || __("Anonymous")
            if user
              li
                a#logout(href="#")
                  i.icon-eject.icon-white

    .container
      #alert
      block content