extends layout

block head
  title= __("Login")
  script(src="/js/login.js")

block content
  form
    label= __("Email")
    input(name="email", type="text", placeholder=__("Email"))
    label= __("Password")
    input(name="password", type="password", placeholder=__("Password"))
    br
    button.btn.btn-primary(type="submit")= __("Login")