extends layout

block head
  title= Login
  script(src="/js/login.js")

block content
  #alert
  form
    label= __("Email")
    input(name="email", type="text", placeholder=__("Email"))
    label= __("Password")
    input(name="password", type="password", placeholder=__("Password"))
    br
    button.btn(type="submit")= __("Login")